#yellow_link_card:hover{
    display: block;
    margin-top: -10px;
}

#gray_link_card:hover{
    display: block;
    margin-top: -10px;
}

#orange_link_card:hover{
    display: block;
    margin-top: -10px;
}

#red_link_card:hover{
    display: block;
    margin-top: -10px;
}

#brown_link_card:hover{
    display: block;
    margin-top: -10px;
}

#purple_link_card:hover{
    display: block;
    margin-top: -10px;
}

#green_link_card:hover{
    display: block;
    margin-top: -10px;
}

#gold_link_card:hover{
    display: block;
    margin-top: -10px;
}

#black_link_card:hover{
    display: block;
    margin-top: -10px;
}

#pink_link_card:hover{
    display: block;
    margin-top: -10px;
}
