 #yellow_link_card:hover{
    transform: scale(1.2);
}

#gray_link_card:hover{
    transform: scale(1.2);
}

#orange_link_card:hover{
    transform: scale(1.2);
}

#red_link_card:hover{
    transform: scale(1.2);
}

#brown_link_card:hover{
    transform: scale(1.2);
}

#purple_link_card:hover{
    transform: scale(1.2);
}

#green_link_card:hover{
    transform: scale(1.2);
}

#gold_link_card:hover{
    transform: scale(1.2);
}

#black_link_card:hover{
    transform: scale(1.2);
}

#pink_link_card:hover{
    transform: scale(1.2);
}

/*  */

#yellow_link_card:active{
    transform: scale(0.7);
}

#gray_link_card:active{
    transform: scale(0.7);
}

#orange_link_card:active{
    transform: scale(0.7);
}

#red_link_card:active{
    transform: scale(0.7);
}

#brown_link_card:active{
    transform: scale(0.7);
}

#purple_link_card:active{
    transform: scale(0.7);
}

#green_link_card:active{
    transform: scale(0.7);
}

#gold_link_card:active{
    transform: scale(0.7);
}

#black_link_card:active{
    transform: scale(0.7);
}

#pink_link_card:active{
    transform: scale(0.7);
}