

#gold_link_card{
    background-color: #f4d997;
    transition-duration: 0.5s;
}
#gold_link_card>img{
    border: 1px solid background-color;
    background-color:#f0c256;
}
#gold_card_count
{
    background-color: rgb(244, 217, 151);
}
#gold_main_card{
    display: block;
    height: 377px;
    width: 312px;
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(244, 217, 151);
}
#gold_name_main_card{
    font-size: 50px;
    font-weight: 55px;
    line-height: 100%;
}
#gold_img_main_card{
    display: block;
    text-align: center;
    border: 1px solid background-color;
    border-radius: 50%;
    background-color: rgb(240, 194, 86);
    margin: auto;
    margin-top: 70px;
}

