@font-face {
    font-family: "Arial Rounded MT Bold";
    src: url(/static/fonts/Arial_Rounded_MT_Bold.ttf) format("truetype");
}

/* общий фон */
body {
    font-family: 'Arial Rounded MT Bold';
    background-color: rgb(156, 194, 157);
}

/* главное название */
.general_name {
    display: flex;
}

.name_game {
    margin-left: 10%;
}

#name_game_id {
    display: block;
    font-size: 120px;
    line-height: 140px;
    border: 2px solid black;
    border-bottom: 10px solid black;
    background-color: rgb(255, 250, 228);
    text-align: center;
    width: 120%;
}

h1 {
    margin-top: 10px;
    display: block;
    font-size: 40px;
    line-height: 43px;
    letter-spacing: -1px;
    border: 3px solid black;
    border-bottom: 10px solid black;
    width: 37%;
    text-align: center;
    background-color: rgb(255, 250, 228);
}

#main_block {
    margin-top: -1%;
    margin-left: -2%;
    width: 130%;
}

/* домашняя карта */

#back_home_card {
    display: block;
    background-color: rgb(239, 181, 167);
}

#line_main_card {
    display: block;
    background-color: black;
    height: 5px;
    width: 312px;
    margin-left: -26px;
}

#home_page {
    font-size: 15px;
    line-height: 25px;
    font-weight: 125px;
}

#back_home_card:hover{
    margin-top: -10px;
}

/* основной блок карт */
.table {
    background-color: rgb(184, 230, 183);
    border: 3px solid black;
    border-radius: 5px;
}

tr{
    border-bottom: 10px solid black;
}

#name_table {
    font-size: 40px;
    line-height: 43px;
    letter-spacing: -1px;
    border: 3px solid black;
    border-bottom: 10px solid black;
    width: 40%;
    text-align: center;
    background-color: rgb(255, 250, 228);
}

#use_for {
    font-size: 40px;
    line-height: 43px;
    letter-spacing: -1px;
    border: 3px solid black;
    border-bottom: 10px solid black;
    width: 30%;
    text-align: center;
    background-color: rgb(255, 250, 228);
}

/*  */

.card_count {
    position: static;
    display: block;
    margin-top: 5%;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: -1px;
    border: 3px solid black;
    border-bottom: 10px solid black;
    text-align: center;
}

.form_card_left {
    margin-left: 2%;
    margin-top: 2%;
}

.form_card_right {
    margin-right: 3%;
    margin-top: 9.5%;
}

#arrow {
    margin-top: 80%;
}
