{% macro card(card) -%}

<div class="game-card {{ card['image_color'] }}-card">
    <a href="{{ card['url'] }}">
        <div class="game-card-header"> 
        <div>{{ card['name'] }}</div>
        </div>
        <div class="game-card-body">
        <img class="game-card-icon" src="{{ card['ico_url'] }}">
        </div>
    </a>
</div>

{%- endmacro %}


{% macro recipes_table(recipes) -%}

{% for recepie in recipes %}
    <div class="game-recepie-item">
        <div class="game-recepie-input">

        {% for c in recepie['inputs'] %}
        <div class="game-recepie-card">
            {{ card(c) }}
            <div class="game-recepie-card-count {{ c['image_color'] }}-card-count">x{{c['count']}}</div>
        </div>
        {% endfor %}

        </div>
        <div class="game-recepie-arrow">
        <img src={{ url_for('static', filename='img/arrow.png' ) }}>
        </div>
        <div class="game-recepie-output">

        {% for c in recepie['outputs'] %}
        <div class="game-recepie-card">
            {{ card(c) }}
            <div class="game-recepie-card-count {{ c['image_color'] }}-card-count">x{{c['count']}}</div>
        </div>
        {% endfor %}

        {% if recepie['chance'] %}
        <div class="game-recepie-card">
            <div class="game-recepie-card-count black-card-count">{{recepie['chance']}}%</div>
        </div>
        {%endif%}

        </div>
    </div>
{% endfor %}

{%- endmacro %}