<!doctype html>
<style>
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
<title>{{ card['name'] }}</title>
<h1>{{ card['name'] }}</h1>
<img src="{{ card['png_url'] }}" style="width:256px;height:256px;">