{% extends "page.jinja" %}

{% from 'card.jinja' import card, recipes_table%}

{% block title %}Staclands recipices{% endblock %}

{% block content %}
<div>
  <div>

    {% if create_recipes %}
    <div class="game-recepie-group">
      <div class="game-recepie-group-name">Create form</div>
      <div class="game-recepie-group-body">
        {{recipes_table(create_recipes)}}
      </div>
    </div>
    {% endif %}


    {% if use_recipes %}
    <div class="game-recepie-group">
      <div class="game-recepie-group-name">Use for</div>
      <div class="game-recepie-group-body">
        {{recipes_table(use_recipes)}}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}