{% macro card(card) -%}

<div class="game-card {{ card['image_color'] }}-card">
    <a href="{{ card['url'] }}">
        <div class="game-card-header"> 
        <div>{{ card['name'] }}</div>
        </div>
        <div class="game-card-body">
        <img class="game-card-icon" src="{{ card['ico_url'] }}">
        </div>
    </a>
</div>

{%- endmacro %}