{% macro input(card) -%}
<!-- <input type="{{ type }}" value="{{ value|e }}" name="{{ name }}"> -->
<div class="col-md-2 themed-grid-col" id="blok_card">
    <a href="{{ card['url'] }}">
        <div class="card_name"> {{ card['name'] }} <h6></h6>
        </div>
        <img src="{{ card['ico_url'] }}" style="width:64px;height:64px;">
    </a>
</div>
{%- endmacro %}

{%- macro textarea(name, value='', rows=10, cols=40) -%}
<textarea name="{{ name }}" rows="{{ rows }}" cols="{{ cols
        }}">{{ value|e }}</textarea>
{%- endmacro %}